/* About us css */
.about_us{
   
    margin: 200px 300px 100px 300px;
}

.about_us h1 {
    font-size: 2.9rem;
    text-align: center;
    margin-bottom: 100px;

}

/* Yasmin Presentation */

/* Here */

/* Srilatha presentatio */
/* Here */



/* Souad Presentation */

.Souad_presentation{
    display: flex;
    flex-direction:  row-reverse;
}

.souad_pre_block{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    padding: 30px;
    
     
}


.souad_pre_block h2 {
    font-size: 1.9rem;
    margin-bottom: 50px;
}
 

.souad_pre_block h3{
    font-size: 1.5rem;
    
}


.souad_pre_block p {
    font-size: 1.5rem;
}
  

/* kavitha presentation */
/* Here */
.about-kavi-content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.kavi-container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-kavi-content {
    background-color: #97bec2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.about-kavi-content h2 {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 20px;
}

.about-kavi-content p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.8;
}
 


/* Mariym presentation */
/* Here */



@media   (max-width: 1600px){

    img {
        width: auto;
    }
    .Souad_presentation {
        background-color: red;
        display: flex;
        flex-direction: column-reverse;
        
    }
}

/*kavitha part*/
/* Responsive Design */
@media screen and (max-width: 768px) {
    .about-kavi-content {
        padding: 20px;
    }

    .about-kavi-content h1 {
        font-size: 1.5rem;
    }


    .about-kavi-content h2 {
        font-size: 1.2rem;
    }
}