
.branch_introduction {
    margin: 200px 300px 100px 300px;
}

.branch_introduction h2 {
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 100px;
}

.branch_introduction p {
    font-size: 1.5rem;
}

.Merge_Files{
    margin: 100px 300px 100px 300px;
}

.Merge_Files h2 {
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 100px;
}

.Merge_Files p {
    font-size: 1.5rem;
}

.command-box {
 border: 2px solid #3498db;
 background-color: #ecf0f1;
 color: #2c3e50;
 padding: 15px;
 border-radius: 8px;
 font-family: 'Courier New', Courier, monospace;
 font-size: 14px;
 margin: 10px 0;
}

.Merge_Files {
 max-width: 600px;
 margin: auto;
 padding: 20px;
}
 